<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div style="display: flex; justify-content: center; align-items: center;">
        <iframe src="/test-iframe2" width="350" height="300" frameborder="0" scrolling="yes"
            title="Öffnungszeiten - Geöffnet"
            style="border: 1px solid #ddd; border-radius: 12px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);">
        </iframe>
    </div>
</body>

</html>